$font-title: 'Orbitron', sans-serif;
$font-text: 'Raleway', sans-serif;

body    {
    color: white;
    font-family: $font-text;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: $font-title;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

h1 {
    margin-top: 0;
}

a, a:visited {
    color: $color4;
    text-decoration: none;
}

a:hover {
    color: white;
}

.questiononly {
    font-family: $font-title;
}

.movie_title {
    font-style: italic;
}

